/target/classes/com/manual/login/LoginController.class
/target/classes/com/manual/menu/MenuController.class
/target/classes/com.manual.main/add_employee.fxml
/target/classes/com.manual.main/menu.fxml
/target/classes/com/manual/model/
